@inject ServerViewModel ServerVm
@page "/server/{ServerId}"

@using LetsTalk.Client.Views.Components

@if (ServerVm.Server is not null)
{
    <MudGrid Spacing="0" Style="height: calc(100vh - 80px);">
        <MudItem Xs="2" Elevation="1" Class="mud-border-left">
            <MudCard Style="border-radius: 0;">
                <MudCardHeader>
                    <h2>@ServerVm.Server.Name</h2>
                </MudCardHeader>
            </MudCard>
            
            <ServerChannelList Channels="ServerVm.Server.Channels" @bind-SelectedChannel="ServerVm.SelectedChannel"/>
        </MudItem>
        <MudItem Xs="8" Elevation="1" Class="mud-border-right mud-border-left border-x-2" Style="border-color: var(--mud-palette-divider);">
            <MudCard Style="border-radius: 0;">
                <MudCardHeader>
                    <h2>TextChannel - @ServerVm.SelectedChannel?.Name</h2>
                </MudCardHeader>
            </MudCard>
            
            @switch (ServerVm.SelectedChannel?.Type)
            {
                case ChannelType.Text:
                    <TextChannel Channel="ServerVm.SelectedChannel"/>
                    break;
                case ChannelType.Voice:
                    <VoiceChannel Channel="ServerVm.SelectedChannel"/>
                    break;
                default:
                    break;
            }
        </MudItem>
        <MudItem Xs="2" Elevation="1" Class="mud-border-right">
            <MudCard Style="border-radius: 0;">
                <MudCardHeader>
                    <h2>Utilisateur - @ServerVm.Server.Users.Count</h2>
                </MudCardHeader>
            </MudCard>
            
            <ServerUserList Users="@ServerVm.Server.Users"/>
        </MudItem>
    </MudGrid>
}
else
{
    <MudText>
        Une erreur est survenue lors du chargement du serveur.
    </MudText>
}

@code {
    [Parameter]
    public required string ServerId { get; set; }

    protected override void OnParametersSet()
    {
        if (int.TryParse(ServerId, out var serverId))
        {
            ServerVm.Initialize(serverId);
        }
        else
        {
            // TODO: Error handling for invalid ServerId
        }
        
        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {
        ServerVm.PropertyChanged += (_, __) => StateHasChanged();
        
        base.OnInitialized();
    }
}
